*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(114, 114, 114);
}

.calculator{
    width: 28%;
    height: 98vh;
    margin: 2px auto;
    background-color: rgb(26, 26, 26);
    border-radius: 40px;
}

.screen{
    width: 100%;
    height: calc(98vh - 60%);
    /* background-color: white; */
    border-radius: inherit;
}

.buttons{
    width: 100%;
    height: calc(98vh - 40%);
    background-color: rgb(43, 43, 43);
    border-radius: inherit;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.keys{
    width: 15%;    
    height: 15%;
    margin: 0 17px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px black;
}

.keys:hover{
    cursor: pointer;
}

.num{
    color: white;
}

.green{
    color: rgb(36, 134, 61);
}

.red{
    color: rgb(248, 48, 13);
}